* {
    font-family: 'Titillium Web', sans-serif;
}

p, div, li {
  font-size: 16px;
}

h3 {
  font-weight: 700;
}

.navbar-brand {
  font-weight: 700;
  font-size: 18px;
}

.row {
  margin-bottom: 100px;
}
/* Default CSS */

.login-screen .users .user {
  margin: 10px 0;
}

.nav-avatar {
  max-height: 25px;
}

.term h3 a {
  display: inline-block;
  border-bottom: 1px dashed #000;
  text-decoration: none;
}

.definition {
  display: flex;
  align-items: baseline;
}

.definition-index {
  display: inline-block;
  margin-left: 20px;
  font-size: x-large;
}

.definition-content {
  display: inline-block;
  margin-left: 20px;
}

.add-term {
  margin-top: 10px;
}

.add-definition-section {
  margin-top: 10px;
  margin-left: 20px;
}

.user-select-component {
  cursor: pointer;
  padding: 5px;
}
.small-byline, .def-byline {
  color: gray;
  font-weight: 200;
  font-size: 14px;
}

.def-byline {
  margin-left: 58px;
}
.small-byline img, .def-byline img {
  width: 25px;
}

.remove-btn {
  text-transform: uppercase;
  font-weight: 700;
}